<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.muteswan.client"
      android:versionCode="1"
      android:versionName="0.2alpha-${build.number}">
    <application android:icon="@drawable/icon"
          android:label="@string/app_name"
          android:theme="@android:style/Theme.Light.NoTitleBar">
         
        <activity android:name=".muteswan"
                  android:screenOrientation="nosensor" android:configChanges="keyboardHidden|orientation"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
           

        
        
           <receiver android:name=".NewMessageReceiver"
                        android:exported="true">
                    <!--   <intent-filter>
                                <action android:name="de.schoar.nagroid.POLL" />
                                <category android:name="android.intent.category.DEFAULT" />
                        </intent-filter> -->
           </receiver>
        
        
        <activity android:name=".ui.MsgList"
        		  android:screenOrientation="nosensor" android:configChanges="keyboardHidden|orientation"
        		  
                  android:label="@string/app_name" />
        <activity android:name=".ui.TorNotAvailable"
                  android:label="@string/app_name" />
        <activity android:name=".ui.WriteMsg"
                  android:label="@string/app_name" />
        <activity android:name=".ui.CreateCircle"
                  android:label="@string/app_name" />
        <activity android:name=".ui.CircleList"
        		  
                  android:screenOrientation="nosensor" android:configChanges="keyboardHidden|orientation"
                  
                  android:label="@string/app_name" />
        <activity android:name=".ui.LatestMessages"
                  android:screenOrientation="nosensor" android:configChanges="keyboardHidden|orientation"
                  
                  android:label="@string/app_name" />
        <activity android:name=".ui.GenerateIdentity"
                  android:label="@string/app_name" />
        <activity android:name=".ui.IdentityList"
                  android:label="@string/app_name" />
        <activity android:name=".ui.Preferences"
                  android:label="@string/app_name" />
        <service android:name=".NewMessageService"/>
        <activity android:name=".ui.ViewCircle"
                  android:label="@string/app_name" />
         <activity android:name=".ui.EditCircle"
                  android:label="@string/app_name" />

    </application>


<uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="org.torproject.android.service.ITorService"/>
<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4" />

</manifest> 
